<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
            <div>
                <input type="radio" id="tarefa-1">
            <label for="tarefa-1">Completar curso javascript</label>
            </div>

            <button><img src="/imagens/x-icon.png" alt="icone x para excluir uma tarefa"></button>
        </form>
        </div>
        <div class="tarefa">
            <form action="">
            <div>
                <input type="radio" id="tarefa-1">
            <label for="tarefa-1">Completar curso javascript</label>
            </div>

            <button><img src="/imagens/x-icon.png" alt="icone x para excluir uma tarefa"></button>
        </form>
        </div>
        <div class="tarefa">
            <form action="">
            <div>
                <input type="radio" id="tarefa-1">
            <label for="tarefa-1">Completar curso javascript</label>
            </div>

            <button><img src="/imagens/x-icon.png" alt="icone x para excluir uma tarefa"></button>
        </form>
        </div>
        <div class="informaçoes">
            <p>5 tarefas ativas</p>
            <div class="botoes">
                <a href="">Todas</a>
                <a href="">Ativas</a>
                <a href="">Completas</a>
            </div>
            <a href="">Limpar tarefas</a>

        </div>
    </section>
    <section class="botoes"></section>
    <a href="">Todas</a>
    <a href="">Ativas</a>
    <a href="">Completas</a>
</main>